.custom-button {
  cursor: pointer;
  width: 12rem;
  padding: 10px 8px;
  border: none;
  border-radius: 50px;
  background: var(--light-pink);
  color: var(--black);
  font-size: 14px;
  align-self: center;
  font-family: 'Mochiy Pop One';
}
