.custom-button {
  cursor: pointer;
  width: 12rem;
  padding: 10px 8px;
  border: none;
  border-radius: 50px;
  background: var(--light-pink);
  color: var(--black);
  font-size: 14px;
  align-self: center;
  font-family: 'Mochiy Pop One';
}

@media screen and (max-width: 500px) {
  .custom-button {
    width: 10rem;
    padding: 6px;
    font-size: 12px;
  }
}