@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0; padding: 0; box-sizing: border-box;
}

:root{
    --black: #1A1A1B;
    --white: #EEEEEE;
    --gray: #333F44;
    --blue: #05386B;
    --green: #37AA9C;
    --light-green: #94F3E4;
}

body {
    font-family: 'Poppins';
    background-color: var(--black);
}