.expense-table {
    overflow: auto;
    border-collapse: collapse;
  }

  .expense-table::-webkit-scrollbar {
    width: 8px;
  }
  
  .expense-table::-webkit-scrollbar-thumb {
    background-color: #8da7a6;
    border-radius: 8px;
  }
  
  .expense-table::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .expense-table table {
    width: 38rem;
    border-spacing: 0;
  }

  .month {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    color: #F0D1D1;
  }
  .expense-table th,
  .expense-table td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    border-spacing: 0;
  }

  .expense-table th {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .expense-table .date,  .expense-table .reason{
    background-color: #769B99;
    border-spacing: 0;
    color: var(--mid-pink);
  }
  
  .expense-table .amount{
    background-color: #58605F;
    border-spacing: 0;
    color: #FFEDED;
  }

  .expense-table td {
    vertical-align: middle;
    font-size: 12px;
    border-spacing: 0;
    color: #F0D1D1 !important;
  }

  @media screen and (max-width: 730px) {
    .expense-table table {
      width: 80vw;
    }
    .table-title {
      margin-right: 0;
      font-size: 17px;
  }
  }

  @media screen and (max-width: 500px) {
    .table-title {
      margin-right: 0;
      padding-left: 10px;
      font-size: 16px;
  }
  }

  @media screen and (max-width: 400px) {
    .expense-table table {
      width: 100vw;
      overflow-x: auto;
    }
  }

  .empty-table {
    border: 1px solid rgb(209, 104, 104);
    padding: 20px;
    width: 30vw;
    text-align: center;
  }

  @media screen and (max-width: 730px) {
    .empty-table {
      width: 50vw;
    }
  }